<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form #myform="ngForm" (ngSubmit)="updateVehicle()" class="border rounded p-3 m-3">
                <h1>{{ message }}</h1>

                <div class="container">
                    <div class="row ">
                        <div class="col-md-12">
                            <fieldset>
                                <legend>Update can be done here!</legend>

                                <div class="form-group">
                                    <label for="vehicleNo"> Vehicle No:</label>
                                    <input required [(ngModel)]="vehicle.vehicleNo" name="vehicleNo" id="vehicleNo"
                                        class="form-control phone" maxlength="28" placeholder="Enter your vehicle number...">
                                </div>

                                <div class="form-group">
                                    <label for="vehicleColour">Colour:</label>
                                    <input required [(ngModel)]="vehicle.vehicleColour" name="vehicleColour" id="vehicleColour"
                                        class="form-control" placeholder="Enter vehicle Colour.">
                                </div>

                                <div class="form-group">
                                    <label for="vehicleName">Vehicle Name:</label>
                                    <input required [(ngModel)]="vehicle.vehicleName" name="vehicleName" id="vehicleName"
                                        class="form-control" placeholder="Enter vehicle Name.">
                                </div>

                                <div class="form-group">
                                    <label for="vehiclePrice"> Vehicle Price:</label>
                                    <input required type="number" [(ngModel)]="vehicle.vehiclePrice" name="vehiclePrice"
                                        id="vehiclePrice" class="form-control" placeholder="Enter vehicle Price."
                                        min="0">
                                </div>

                                <div class="form-group">
                                    <label for="insuranceStartDate">Start Date:</label>
                                    <input required type="date" [(ngModel)]="vehicle.insuranceStartDate"
                                        name="insuranceStartDate" id="insuranceStartDate" class="form-control"
                                        placeholder="Insurance Start Date">
                                </div>

                                <div class="form-group">
                                    <label for="insuranceEndDate">End Date:</label>
                                    <input required type="date" [(ngModel)]="vehicle.insuranceEndDate"
                                        name="insuranceEndDate" id="insuranceEndDate" class="form-control"
                                        placeholder="Insurance End Date">
                                </div>

                                <div class="form-group text-center">
                                    <input class="btn btn-success w-50" type="submit" name="submit_reg" value="Update">
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
