<div class="background">
    <div class="text-center p-3 content">
      <h2>Protect Your Journey with Comprehensive Vehicle Insurance</h2>
      <h4>Easy, Reliable, and Affordable Coverage</h4>
      <h5>Get peace of mind and safeguard your vehicle with our tailored insurance plans</h5>
      <form class="form-inline justify-content-center">
        <div class="input-group">
          <input type="email" class="form-control" style="width: 300px;" placeholder="Email Address" required>
          <div class="input-group-append">
            <button type="button" class="btn btn-danger">Subscribe</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  